.grid-container{
    display : grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    background-color: rgb(65, 137, 210);
}
.grid-container>div{
    margin:10px;
    background-color: white;
    padding-top:10px;
    color:black;
    border-color:rgb(200, 200, 200);
    border-style: solid;
    border-radius: 15px;
    text-align: center;
    box-shadow: 5px 10px 8px #888888;
 
}
 